apiVersion: redhatgov.io/v1alpha1
kind: Gitea
metadata:
  name: gitea-server
  namespace: {{ devsecops_namespace }}
spec:
  gitea:
    expose:
      kind: Route
      ssl: true
      uri: gitea-server-{{ devsecops_namespace }}.apps.{{ full_cluster_name }}
    volumeSize: 4Gi
  persistent: true
  postgresql:
    volumeSize: 4Gi
